@model PhotoAlbum.ViewModels.AddPeopleViewModel

@{ 
    ViewData["Title"] = "Add People";
}

<h1 class="text-primary pt text-center bg-primary">@ViewData["Title"]</h1>



<form method="post" asp-controller="People" asp-action="Add">

    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input class="form-control" asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>

    <div class="form-group">
        <label asp-for="Birthday"></label>
        <input class="form-control" asp-for="Birthday" />
        <span asp-validation-for="Birthday"></span>
    </div>

        <div class="dropdown">
            <label name="gender">Gender</label>
            <select name="gender">
                @foreach (string gender in ViewBag.GenderList)
            {
                <option value="@gender">@gender</option>
        }
            </select>
        </div>

        <div class="dropdown">
            <label name="relation">Relation</label>
            <select name="relation">
                @foreach (string relation in ViewBag.RelationList)
            {
                <option value="@relation">@relation</option>
        }
            </select>
        </div>

    <input type="submit" value="Add People" class="btn btn-info" />

</form>