@model List<PhotoAlbum.Models.People>

@{
    ViewData["Title"] = "People";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <tr>
        <th>Name</th>
        <th>LastName</th>
        <th>Gender</th>
        <th>Birthday</th>
        <th>Relation</th>
    </tr>
    @foreach (var people in Model)
    {
    <tr>
        <td>@people.Name</td>
        <td>@people.LastName</td>
        <td>@people.Gender</td>
        <td>@people.Birthday</td>
        <td>@people.Relation</td>
    </tr>
    }
</table>

@if (Model.Count == 0)
{
    <p>No people yet!</p>
}

<a asp-controller="People" asp-action="Add">Add</a>
