@model PhotoAlbum.ViewModels.SearchViewModel

@{
    ViewData["Title"] = "Search Pictures";
}

<h1>@ViewData["Title"]</h1>

<form method="get" asp-controller="Search" asp-action="">
    <div class="form-group">
        <label asp-for="LocationID">Location</label>
        <select asp-for="LocationID" asp-items="Model.Locations"></select>
        <button type="submit" name="search" value="Location">Search</button>
    </div>
</form>

<form method="get" asp-controller="Search" asp-action="">
    <div class="form-group">
        <label asp-for="EventID">Event</label>
        <select asp-for="EventID" asp-items="Model.Events"></select>
        <button type="submit" name="search" value="Event">Search</button>
    </div>
</form>

<form method="get" asp-controller="Search" asp-action="">
    <div class="form-group">
        <label asp-for="AuthorID">Author</label>
        <select asp-for="AuthorID" asp-items="Model.Authors"></select>
        <button type="submit" name="search" value="Author">Search</button>
    </div>
</form>

<form method="get" asp-controller="Search" asp-action="">
    @foreach (var i in Model.PeopleList)
    {
        <label>@i.Name @i.LastName
            <input type="checkbox" name="People" value="@i.Name @i.LastName" />
        </label>
    }
        <button type="submit" name="search" value="People">Search</button>
</form>

<table class="table">
    <tr>
        <th></th>
        <th> </th>
        <th> </th>
        <th>Favorite</th>
        <th>Location</th>
        <th>Place</th>
        <th>Event</th>
        <th>Author</th>
        <th>People</th>
    </tr>

    @foreach (var item in Model.ViewPictureHelpers)
    {
        <tr>
            <td>@item.PictureID</td>
            <td>@item.PictureDate.ToShortDateString()</td>
            <td><img src="@item.PictureName" alt="Pic not found" height="60" width="60" /></td>

            <td>
                @if (item.PictureFavorite == false)
                {
                    <form method="post" asp-controller="Picture" asp-action="">
                        <div class="form-group">
                            <input type="hidden" name="IsFavorite" value="true" />
                            <input type="hidden" name="PictureID" value="@item.PictureID" />
                            <button class="heartWhite"> </button>
                        </div>
                    </form>
                }

                @if (item.PictureFavorite == true)
                {
                    <form method="post" asp-controller="Picture" asp-action="">
                        <div class="form-group">
                            <input type="hidden" name="IsFavorite" value="false" />
                            <input type="hidden" name="PictureID" value="@item.PictureID" />
                            <button class="heartRed"> </button>
                        </div>
                    </form>
                }
            </td>

            <td>
                @item.PictureNation<br />
                @item.PictureCity
            </td>
            <td>
                @item.PicturePlaceType<br />
                @item.PicturePlaceName
            </td>
            <td>
                @item.PictureEventType<br />
                @item.PictureEventName
            </td>
            <td>
                @item.PictureAuthorName
                @item.PictureAuthorLastName
            </td>
            <td>
                @if (item.PicturePeopleIDs is null)
                {
                    @item.PicturePeopleIDs;
                }
                else
                {
                    @foreach(var c in @item.PicturePeopleIDs.Split(",").ToList())
                    {
                        @c<br/>
                    };
                }
            </td>
        </tr>
    }
</table>

