@model List<PhotoAlbum.Models.Stack>


@{
    ViewData["Title"] = "Pictures Stacks";
}

<h1>@ViewData["Title"]</h1>
<h4>Select a Stack of unorganized pictures and add info to it.</h4>



<ul>
    <li>
        <strong><a asp-controller="Stack" asp-action="ViewStack">Open All.</a></strong>
    </li>
    <li>
        <strong>Stack created on @Model[Model.Count() - 1].Name.</strong>
        <strong><a asp-controller="Stack" asp-action="ViewStack" asp-route-id="@Model[Model.Count()-1].ID">open</a></strong>
    </li>
</ul>

<ul>
    @for (int i = Model.Count() - 2; i >= 0; i -= 1)
    {
    <li>
        Stack created on @Model[i].Name;
        <a asp-controller="Stack" asp-action="ViewStack" asp-route-id="@Model[i].ID">open</a>
    </li>
    }
</ul>
