@model List<PhotoAlbum.Models.Album>

@{
    ViewData["Title"] = "Albums";
}

<h1  class="text-primary pt text-center bg-primary">@ViewData["Title"]</h1>


<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <th> </th>
        <th> </th>
    </tr>
    @foreach (Album album in Model)
    {
    <tr>
        <td>@album.Name</td>
        <td>@album.Description</td>
        <td>@album.DateTime.ToShortDateString()</td>
        <td><a asp-controller="Album" asp-action="View" asp-route-id="@album.ID" class="btn btn-default">Open</a></td>
        <td><a asp-controller="Album" asp-action="AddPictureAlbum" asp-route-id="@album.ID" class="btn btn-default">Add Picture</a></td>
    </tr>
    }
</table>  

<a asp-controller="Album" asp-action="AddAlbum" class="btn btn-info">Create a new Album</a>     
