@model PhotoAlbum.ViewModels.AddPicturePeopleViewModel


@{
    ViewData["Title"] = "Add People Info to your Pictures";
}

<h1 class="text-primary pt text-center bg-primary">@ViewData["Title"]</h1>

<h5>You have @Model.PictureIDs.Count() pictures left.</h5><br />


            @if (@ViewBag.Sorting == "Asc")
            {
                <form method="get" asp-controller="Picture" asp-action="AddPicturePeople">
                    <input type="hidden" name="sortOrder" value="Desc" />
                    <input type="hidden" name="StackID" value="@Model.StackID" />
                    <label >
                        Sort by date:
                        <button class="btn btn-default">Descendent</button>
                    </label>
                </form>
            }
            else
            {
                <form method="get" asp-controller="Picture" asp-action="AddPicturePeople">
                    <input type="hidden" name="sortOrder" value="Asc" />
                    <input type="hidden" name="StackID" value="@Model.StackID" />
                    <label >
                        Sort by date:
                        <button class="btn btn-default">Ascendent</button>
                    </label>
                </form>
            }

<br />

<form method="post" asp-controller="Picture" asp-action="AddPicturePeople">

    <input type="hidden" name="StackID" value="@Model.StackID" />

    <div class="form-group">
        @foreach (var people in Model.PeopleList)
    {
        <label>
            @people.Name @people.LastName
            <input type="checkbox" name="PeopleIDs" value="@people.ID" />
            &nbsp; &nbsp;
        </label>
}
        <a href="/People/Add" class="btn"> +Add new People </a>
    </div>

    <div class="form-group">
        <table class="table">
            <tr>
                <th>id</th>
                <th> </th>
                <th> </th>
                <th>Favorite</th>
                <th>Select Picture</th>
            </tr>

            @for (int i = 0; i < Model.PictureIDs.Count(); i++)
            {
                <tr>
                    <td>@Model.PictureIDs[i]</td>
                    <td>@Model.ViewPictureHelper[i].PictureDate.ToShortDateString()</td>
                    <td><img src="@Model.ViewPictureHelper[i].PictureName" alt="Pic not found" height="60" width="60" /></td>
                    <td>@Model.ViewPictureHelper[i].PictureFavorite</td>
                    <td>
                        <input type="checkbox" name="PictureIDs" value="@Model.PictureIDs[i]" />
                    </td>
                </tr>
            }
        </table>
    </div>

    <input type="submit" value="Add People" class="btn btn-info"/>

</form>
