@model PhotoAlbum.ViewModels.AddPictureEventViewModel


@{
    ViewData["Title"] = "Add Event Info to your Pictures";
}

<h1>@ViewData["Title"]</h1>

<p>You have @Model.PictureIDs.Count() pictures left.</p><br />


<form method="post" asp-controller="Picture" asp-action="AddPictureEvent">

    <input type="hidden" name="StackID" value="@Model.StackID" />

    <div class="form-group">
        <label asp-for="EventID">Event</label>
        <select asp-for="EventID" asp-items="Model.Events"></select>
        <a href="/Event/Add"> Add a new Event </a>
    </div>

    <br />
    <br />

    <div class="form-group">
        <table class="table">
            <tr>
                <th>id</th>
                <th> </th>
                <th> </th>
                <th>Favorite</th>
                <th>Select Picture</th>
            </tr>

            @for (int i = 0; i < Model.PictureIDs.Count(); i++)
            {
                <tr>
                    <td>@Model.PictureIDs[i]</td>
                    <td>@Model.ViewPictureHelper[i].PictureDate.ToShortDateString()</td>
                    <td><img src="@Model.ViewPictureHelper[i].PictureName" alt="Pic not found" height="60" width="60" /></td>
                    <td>@Model.ViewPictureHelper[i].PictureFavorite</td>
                    <td>
                        <input type="checkbox" name="PictureIDs" value="@Model.PictureIDs[i]" />
                    </td>
                </tr>
            }
        </table>
    </div>

    <input type="submit" value="Add Event" />

</form>



