@model IEnumerable<PhotoAlbum.Models.Picture>


@{
    ViewData["Title"] = "Pictures";
}

<h1>@ViewData["Title"]</h1>


<p>Total piture number: @Model.Count()</p><br />


<table width="1000">
    <thead>
        <tr>
            <td width="15%"> </td>
            <td width="10%"> </td>
            <td>Favorite</td>
            <td>Location</td>
            <td>Place</td>
            <td>Event</td>
            <td>Author</td>
            <td>People</td>
        </tr>
    </thead>

    @foreach (Picture picture in Model)
    {
    <tr>
        <td>@picture.Date.Date</td>
        <td><img src="@picture.Name" alt="Pic not found" height="60" width="60" /></td>
        <td>@picture.Favorite</td>
        <td>Location</td>
        <td>Place</td>
        <td>Event</td>
        <td>Author</td>
        <td>People</td>
    </tr>
    }
</table>
