@model PhotoAlbum.ViewModels.ViewPictureViewModel

@{
    ViewData["Title"] = "Pictures";
}

<h1 class="text-primary pt text-center bg-primary">@ViewData["Title"]</h1>


<div class="col-xs-12 col-lg-12">
    <h5>You have @Model.ViewPictureHelpers.Count() pictures.</h5><br />

    @if (@ViewBag.Sorting == "Asc")
    {
        <form method="get" class="form-inline" asp-controller="Picture" asp-action="">
            <input type="hidden" name="sortOrder" value="Desc" />
            <label >
                Sort by date:
                <button class="btn btn-default">Descendent</button>
            </label>
        </form>
    }
    else
    {
        <form method="get" class="form-inline" asp-controller="Picture" asp-action="">
            <input type="hidden" name="sortOrder" value="Asc" />
            <label >
                Sort by date:
                <button class="btn btn-default">Ascendent</button>
            </label>
        </form>
    }
</div>


<table class="table">
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th> </th>
        <th>Favorite</th>
        <th>Location</th>
        <th>Place</th>
        <th>Event</th>
        <th>Author</th>
        <th>People</th>
    </tr>

    @foreach (var item in Model.ViewPictureHelpers)
    {
        <tr>
            <td>@item.PictureID</td>
            <td>@item.PictureDate.ToShortDateString()</td>
            <td><img src="@item.PictureName" alt="Pic not found" height="60" width="60" /></td>

            <td>
                @if (item.PictureFavorite == false)
                {
                    <form method="post" asp-controller="Picture" asp-action="">
                        <div class="form-group">
                            <input type="hidden" name="IsFavorite" value="true" />
                            <input type="hidden" name="PictureID" value="@item.PictureID" />
                            <button class="heartWhite"> </button>
                        </div>
                    </form>
                }

                @if (item.PictureFavorite == true)
                {
                    <form method="post" asp-controller="Picture" asp-action="">
                        <div class="form-group">
                            <input type="hidden" name="IsFavorite" value="false" />
                            <input type="hidden" name="PictureID" value="@item.PictureID" />
                            <button class="heartRed"> </button>
                        </div>
                    </form>
                }
            </td>

            <td>
                @item.PictureNation<br />
                @item.PictureCity
            </td>
            <td>
                @item.PicturePlaceType<br />
                @item.PicturePlaceName
            </td>
            <td>
                @item.PictureEventType<br />
                @item.PictureEventName
            </td>
            <td>
                @item.PictureAuthorName
                @item.PictureAuthorLastName
            </td>
            <td>
                @if (item.PicturePeopleIDs is null)
                {
                    @item.PicturePeopleIDs;
                }
                else
                {
                    @foreach (var c in @item.PicturePeopleIDs.Split(",").ToList())
                    {
                        @c<br />
                    };
               }
            </td>
        </tr>
    }
</table>
