@model IEnumerable<PhotoAlbum.Models.Picture>


@{
    ViewData["Title"] = "Pictures";
}

<h1>@ViewData["Title"]</h1>


<p>You have @Model.Count() pictures.</p><br />

<table>
    <tr>
        <th>SORT BY</th>
        <th></th>
    </tr>
    <tr>
        <td>Date</td>
        <td>
            @Html.ActionLink("Descendent", "Index", new { sortOrder = ViewBag.DateSortParmDesc }) |
            @Html.ActionLink("Ascendent", "Index", new { sortOrder = ViewBag.DateSortParmAsc })
        </td>
    </tr>
</table>

<br />

<table class="table">
        <tr>
            <th> </th>
            <th> </th>
            <th>Favorite</th>
            <th>Location</th>
            <th>Place</th>
            <th>Event</th>
            <th>Author</th>
            <th>People</th>
        </tr>

    @foreach (Picture picture in Model)
    {
    <tr>
        <td>@picture.Date.ToShortDateString()</td>
        <td><img src="@picture.Name" alt="Pic not found" height="60" width="60" /></td>
        <td>@picture.Favorite</td>
        <td>Location</td>
        <td>Place</td>
        <td>Event</td>
        <td>Author</td>
        <td>People</td>
    </tr>
    }
</table>
