@model PhotoAlbum.ViewModels.ViewPictureStackViewModel


@{
    ViewData["Title"] = "Photo Stack";
}

<h1 class="text-primary pt text-center bg-primary">@ViewData["Title"]</h1>

<h5>You have @Model.ViewPictureHelpers.Count() pictures in this Stack.</h5><br />


                                                                           <div class="inline">
                                                                               Select the type of info to add to your pictures:
                                                                               <a href="/Picture/AddPictureLocation?StackID=@ViewBag.StackID" class="btn btn-info"> Add Location </a>
                                                                               <a href="/Picture/AddPictureEvent?StackID=@ViewBag.StackID" class="btn btn-info"> Add Event </a>
                                                                               <a href="/Picture/AddPictureAuthor?StackID=@ViewBag.StackID" class="btn btn-info"> Add Author </a>
                                                                               <a href="/Picture/AddPicturePeople?StackID=@ViewBag.StackID" class="btn btn-info"> Add People </a>
                                                                           </div>
<br />


            @if (@ViewBag.Sorting == "Asc")
            {
                <form method="get" asp-controller="Picture" asp-action="Stack">
                    <input type="hidden" name="sortOrder" value="Desc" />
                    <input type="hidden" name="ID" value="@Model.ID" />
                    <label >
                        Sort by date:
                        <button class="btn btn-default">Descendent</button>
                    </label>
                </form>
            }
            else
            {
                <form method="get" asp-controller="Picture" asp-action="Stack">
                    <input type="hidden" name="sortOrder" value="Asc" />
                    <input type="hidden" name="ID" value="@Model.ID" />
                    <label >
                        Sort by date:
                        <button class="btn btn-default">Ascendent</button>
                    </label>
                </form>
            }


<table class="table">
    <tr>
        <th></th>
        <th> </th>
        <th> </th>
        <th>Favorite</th>
        <th>Location</th>
        <th>Place</th>
        <th>Event</th>
        <th>Author</th>
        <th>People</th>
    </tr>

    @foreach (var item in Model.ViewPictureHelpers)
    {
        <tr>
            <td>@item.PictureID</td>
            <td>@item.PictureDate.ToShortDateString()</td>
            <td><img src="@item.PictureName" alt="Pic not found" height="60" width="60" /></td>

            <td>
                @if (item.PictureFavorite == false)
                {
                    <form method="post" asp-route="Picture/Stack?ID=ViewBag.ID" >
                        <div class="form-group">
                            <input type="hidden" name="IsFavorite" value="true" />
                            <input type="hidden" name="PictureID" value="@item.PictureID" />
                            <button class="heartWhite"> </button>
                        </div>
                    </form>
                }

                @if (item.PictureFavorite == true)
                {
                    <form method="post" asp-route="Picture/Stack?ID=ViewBag.ID">
                        <div class="form-group">
                            <input type="hidden" name="IsFavorite" value="false" />
                            <input type="hidden" name="PictureID" value="@item.PictureID" />
                            <button class="heartRed"> </button>
                        </div>
                    </form>
                }           
            </td>

            <td>
                @item.PictureNation<br />
                @item.PictureCity
            </td>
            <td>
                @item.PicturePlaceType<br />
                @item.PicturePlaceName
            </td>
            <td>
                @item.PictureEventType<br />
                @item.PictureEventName
            </td>
            <td>
                @item.PictureAuthorName
                @item.PictureAuthorLastName
            </td>
            <td>
                @if (item.PicturePeopleIDs is null)
                {
                    @item.PicturePeopleIDs;
                }
                else
                {
                    @foreach(var c in @item.PicturePeopleIDs.Split(",").ToList())
                    {
                        @c<br/>
                    };
                }
            </td>
        </tr>
    }
</table>
